.forma{
  justify-content: center;
  text-align: center; 
  padding-top: 100px;
  background-color: antiquewhite;
  height: 1000px;
}


.forma button{
  background-color: blueviolet;
  color: white;
  padding: 15px 30px;
  border: none;
  margin-left: 15px;
  border-radius: 3px;
  cursor: not-allowed	;
}

.forma input{

flex: 1;
border: 1px solid #E5E5E5;
border-radius: 3px;
padding-left: 15px;
height: 45px;
/* box-shadow: 0px 5px 10px 0px rgba(251, 5, 5, 0.971) */     


}

.Error{
  margin-right: 120px;
  color: red;
}

.OK{
  color: green;
  margin-right: 120px;
}
